nav {
  display: flex; /* Enables flexbox for the nav container */
  justify-content: space-between; /* Pushes title and links apart */
  align-items: center; /* Vertically aligns items in the middle */
  background-color: #A8CCC9; /* Background color of the navbar */
  padding: 10px;
}

/* Title styling */
.nav-title {
  font-size: 50px; /* Increase this value for a larger title */
  font-family: "Poppins", sans-serif; /* Keep the same font family */
  color: white !important; /* Keep the color white */
}

/* Styling for horizontal navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px; /* This value changes the height of our navbar */
  overflow: hidden;
  background-color: #A8CCC9; /* Background color of the navbar */
  display: flex;
  justify-content: flex-end;
}

body {
  margin: 0;
  background-color: #B3D6C6;
}

li {
  float: right;
  display: right; /* This makes our navbar horizontal */
  margin-right: 30px;
}

li a {
  outline: none;
  border: none;
  color: white; /* Text color of the navbar links */
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  transition: font-size 0.5s ease;
}

li a:focus {
  outline: none; /* Removes the focus outline */
}

li a:hover {
  background-color: #75B9BE; /* Background color of the navbar when hovering over a link */
  font-size: 20px;
}

/* Media query */
@media screen and (max-width: 480px) {
  body {
      background-color: lightgreen;
  }
  ul {
      flex-direction: column;
  }
  li a {
      width: 100vw;
  }
}

/* Styling for contact section */
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to each other */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}

